/* 3. TABLO: EXTERNAL CSS ÖRNEĞİ */
table.external-table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdf6ff;
}

table.external-table th,
table.external-table td {
    border: 1px solid #4a148c;
    padding: 8px;
    text-align: center;
}

table.external-table th {
    background-color: #7e57c2;
    color: white;
}

table.external-table caption {
    font-weight: bold;
    margin-bottom: 8px;
    color: #4a148c;
}
