/* 3. tablo – External CSS örneği */
table.external{
  border-collapse:collapse;
  width:70%;
  margin:20px auto;
  background:#ecfdf5;
  font-family:Segoe UI, sans-serif;
  color:#064e3b;
}
table.external th, table.external td{
  border:2px solid #059669;
  padding:10px;
  text-align:center;
}
table.external th{
  background:#10b981;
  color:white;
}
table.external tr:nth-child(even){
  background:#d1fae5;
}
